$logo-font-size: 24px;
$logo-font-weight:700;
$first-header-font-size:58px;
$paragraph-one-font-size: 22px;
$footer-font: 14px; 
$nav-bar-padding: 1.5rem 5rem;
$button-weight: 500;
$button-font:16px;
$button-padding: 10px 20px;